
<!-- Modal  Foto usuario-->
<div class="modal fade" id="actualizarFotoPerfil" tabindex="-1" aria-labelledby="#actualizarFotoPerfil" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="actualizarFotoPerfil">Actualizar foto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="cerrarModalUsuarioFotoPerfil" aria-label="Close"></button>
      </div>
        <div class="container">            
            <div class="row my-5 d-flex justify-content-center">
              <div class="col-md-6 text-center">
                <p>Actual </p>
                <img src="{{ usuario?.img }}" width="50%" style="border-radius:100%;" alt="">
              </div>
              <div class="col-md-6 text-center">
                <small>Vista previa - nueva</small>
                <img src="{{ imagenSeleccionada }}" width="50%" style="border-radius:100%;" alt="">
              </div>
              <hr>
              <div class="mb-2">
                <input type="file" accept=".png, .jpg, .jpeg" style="display:none;"  (change)="editarUsuarioFotoPerfil($event)" id="inputFile" id="btnUpload">
                <label for="btnUpload" class="btn btn-primary" title="Buscar imagen para subir">Subir Imagen <i class="fa-solid fa-cloud-arrow-up"></i></label>
              </div>
              <hr>
              <div class="card-footer mb-2">
                <div class="container d-flex justify-content-end">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>             
                  <button class="btn btn-primary" (click)="actualizarFotoPerfil()"  [ngClass]="imgSubida ? 'block' : 'disabled'"  >Actualizar</button>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>