section {
    background: rgb(72,49,212);
    background: linear-gradient(41deg, rgba(72,49,212,1) 0%, rgba(61,21,95,1) 100%);

}

.btn-primary:hover{
    background-color: var(--primary-color);
}

.card-text{
    font-size: 14px;
}

.card{
    padding: 0;
    
}
figure{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 150px;
    background-size: cover;
    overflow: hidden;
}

@media (max-width:412px) {  
    figure{       
        height: 200px;      
    }
        
    }

 


