<section>
    <div class="container">
        <h2>Proyectos</h2>
        <div class="row">
            <div class="col-md-7 bg-1 p-3">
                <h3>Proyecto Nro 1</h3>
                <p class="subtitle-proyecto">Subtitulo del proyecto</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut assumenda perspiciatis amet aliquid nemo quis obcaecati magni quam fuga reprehenderit libero vel consequatur, in error at dolor, deserunt neque asperiores.</p>
            </div>
            <div class="col-md-4 bg-2 p-3">
                <h3>Proyecto Nro 2</h3>
                <p class="subtitle-proyecto">Subtitulo del proyecto</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quis, facilis ab qui consequuntur exercitationem et velit modi voluptatem cumque laboriosam ut doloribus quidem quae alias ullam inventore obcaecati laborum?    </p>
            </div>

            <div class="col-md-4 bg-2 p-3">
                <h3>Proyecto Nro 2</h3>
                <p class="subtitle-proyecto">Subtitulo del proyecto</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quis, facilis ab qui consequuntur exercitationem et velit modi voluptatem cumque laboriosam ut doloribus quidem quae alias ullam inventore obcaecati laborum?    </p>
            </div>

            <div class="col-md-7 bg-1 p-3" >
                <h3>Proyecto Nro 1</h3>
                <p class="subtitle-proyecto">Subtitulo del proyecto</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut assumenda perspiciatis amet aliquid nemo quis obcaecati magni quam fuga reprehenderit libero vel consequatur, in error at dolor, deserunt neque asperiores.</p>
            </div>
        </div>
    </div>
</section>