@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;400;700;900&family=Fira+Code:wght@300;400;500;600;700&display=swap');


:root{
   --primary-color:#4831D4;
   --secondary-color:#CCF381;
   --text-color:#3d155f;
   --nuevo-item:#43CBFF;
}
html {
    font-size: 16px;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: var(--text-color);
   
}

body{
    background-color: #F5F4FC;
}

h1, h2, h3{
    font-family: 'Fira Code', monospace;
    font-size: 40px;
}


.btn{    
    color: var(--text-color);
    border-radius: 0;
    padding: 15px 25px;
    border: 1px solid var(--primary-color);
}

.btn-edit{    
    color: var(--text-color);
    padding: 15px 20px;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
}


.btn-borrar{
    color: red;
    background-color: transparent;
    border:2px solid red;
}

.btn-borrar:visited{
    color: red;
    background-color: transparent;
    border:2px solid red;
}

.btn-borrar:hover{
    background-color: red;
    border:2px solid red;
    color: #fff;
}

.nuevo-item{
    background-color: var(--nuevo-item);
}


.btn-primary{
    background-color: #fff;
}




.card{
    border: none;
    margin:0.5rem;
    border-radius: 0px;
}

.form-control{
    border-radius: 0;
    border: 1px solid var(--primary-color);
}


@media (min-width:768px) {
   html{
    font-size: 18px;
   }
}
@media (min-width:1024px) {
    html{
        font-size: 19px;
    }
}
@media (min-width:1280px) {
    html{
        font-size: 20px;
    }
}