@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;400;700;900&family=Fira+Code:wght@300;400;500;600;700&display=swap');


:root{
   --primary-color:#4831D4;
   --secondary-color:#CCF381;
   --text-color:#3d155f;

}
html {
    font-size: 16px;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: var(--text-color);
   
}

body{
    background-color: #F5F4FC;
}

h1, h2, h3{
    font-family: 'Fira Code', monospace;
    font-size: 40px;
}




.btn-edit{    
    color: var(--text-color);
    padding: 15px 20px;
    border-radius: 50px;
   

    -webkit-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
}


.btn-borrar{
    color: red;
    background-color: #fff;
    
    -webkit-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
  
    
    width: 70px;
}

.btn-borrar:visited{
    color: red;
    background-color: transparent;
    border:2px solid red;
}

.btn-borrar:hover{
    background-color: red;
    border:2px solid red;
    color: #fff;
}

.nuevo-item{
    background-color: #fff;

    -webkit-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
}

.btn{
    border-radius: 50px;
}
.btn-primary{
    border: none;
    background-color: var(--primary-color);
    color: #fff;

     
    -webkit-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
}



.btn-secondary{

    border: none;
    background-color: #fff;
    color: var(--text-color);

     
    -webkit-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 39px -17px rgba(0,0,0,0.75);

}



.card{
    top:0;
    transition: top .2s;
    /* border: none; */
    margin:0.5rem;
    border-radius: 0px;
}

.card:hover{
    top:-10px
}

.form-control{
    border-radius: 0;
    border: 1px solid var(--primary-color);
}



@media (min-width:768px) {
   html{
    font-size: 18px;
   }
}
@media (min-width:1024px) {
    html{
        font-size: 19px;
    }
}
@media (min-width:1280px) {
    html{
        font-size: 20px;
    }
}