<section class="my-5" id="#proyectosSeccion">
  <div class="container">
    <h2>Proyectos</h2>
    <div class="row">

      <div class="card p-3" *ngFor="let proye of proyectos | OrdenarPorAnioPipe:'fecha'; index  as i ">
        <div class="row">
          <div class="col-md-2">
            <figure class="">
              <img src="{{ proye.img }}" width="100%" alt="">
              <button (click)="editarFoto(i)" class="btn btn-edit btn-primary editar-foto"
                title="Actualizar foto de proyecto" data-bs-toggle="modal" *ngIf="editable"
                data-bs-target="#editarImagenProyectoModal"><i class="fa-solid fa-pen"></i></button>
            </figure>
          </div>
          <div class="col-md-10">
            <h2 class="display-6"> <i class="fa-solid fa-calendar"></i> {{ proye.fecha }}</h2>
            <h4>{{ proye.nombre }}</h4>
            <p class="subtitle-proyecto"> <span class="badge bg-primary">{{ proye.tecno }}</span></p>
            <p class="card-text">{{ proye.descripcion }}</p>
            <p class="card-text text-muted">{{ proye.link }}</p>
            <div class="mb-2">
              <button class="btn btn-edit btn-primary" title="Editar" (click)="editarProyecto(i)"
                id="modalProyectoEditar" data-bs-toggle="modal" *ngIf="editable" data-bs-target="#editarProyecto"><i
                  class="fa-solid fa-pen"></i></button>&nbsp;
              <button class="btn btn-edit btn-borrar" *ngIf="editable" title="Eliminar"
                (click)="borrarProyecto(proye.id)"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
        <hr>
      </div>

      <div class="card nuevo-item" style="width: 18rem;min-height:300px" *ngIf="editable">
        <div class="card-body d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-circle-plus" style="font-size:5rem;" title="Añadir nuevo item" id="modalNuevoProyecto"
            data-bs-toggle="modal" data-bs-target="#crearNuevoProyecto"></i>
        </div>
      </div>


    </div>
  </div>
</section>






<!-- Modal  NUEVO ITEM -->
<div class="modal fade" id="crearNuevoProyecto" tabindex="-1" aria-labelledby="crearNuevoProyecto" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crearNuevoProyecto"> Agregar proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="cerrarModalProyecto" aria-label="Close"
          (click)="resetearFormulario()"></button>
      </div>
      <form [formGroup]="formularioProyecto" (ngSubmit)="guardarProyecto()" enctype="multipart/form-data">
        <div class="modal-body">

          <div class="mb-2">
            <label for="titulo">Nombre del proyecto</label>
            <input type="text" id="nombre" name="nombre" formControlName="nombre" class="form-control">
            <div id="nombreHelp"
              *ngIf="formularioProyecto.get('nombre')?.errors && formularioProyecto.get('nombre')?.touched"
              class="form-text">
              <p *ngIf="formularioProyecto.get('nombre')?.hasError('required')" class="text-danger">Falta ingresar
                nombre</p>
              <p *ngIf="formularioProyecto.get('nombre')?.hasError('pattern')" class="text-danger">Ingrese un nombre
                entre 4 y 40 caracteres</p>
            </div>
          </div>

          <div class="mb-2">
            <label for="tecnologias">Tecnologias</label>
            <input type="text" id="tecnologias" name="tecnologias" formControlName="tecno" class="form-control">
            <div id="tecnologiasHelp"
              *ngIf="formularioProyecto.get('tecno')?.errors && formularioProyecto.get('tecno')?.touched"
              class="form-text">
              <p *ngIf="formularioProyecto.get('tecno')?.hasError('required')" class="text-danger">Falta ingresar
                tecnoligias</p>
              <p *ngIf="formularioProyecto.get('tecno')?.hasError('pattern')" class="text-danger">Ingrese entre 4 y 40
                caracteres</p>
            </div>
          </div>

          <div class="mb-2">
            <label for="descripcion">Descripcion</label>
            <textarea type="text" id="descripcion" name="descripcion" formControlName="descripcion"
              class="form-control"></textarea>
            <small class="my-1 d-block small-text"
              [className]="formularioProyecto.get('descripcion')?.hasError('pattern') ? 'text-danger' : 'text-muted'">{{
              formularioProyecto.get('descripcion')?.value?.length }} / 200</small>
            <div id="descripcionHelp"
              *ngIf="formularioProyecto.get('descripcion')?.errors && formularioProyecto.get('descripcion')?.touched"
              class="form-text">
              <p *ngIf="formularioProyecto.get('descripcion')?.hasError('required')" class="text-danger">Falta ingresar
                descripcion</p>
              <p *ngIf="formularioProyecto.get('descripcion')?.hasError('pattern')" class="text-danger">Puede ingresar
                de 4 a 200 caracteres</p>
            </div>
          </div>

          <div class="mb-2">
            <label for="descripcion">Link del proyecto</label>
            <input type="text" id="link" formControlName="link" class="form-control">
            <div id="linkHelp" *ngIf="formularioProyecto.get('link')?.errors && formularioProyecto.get('link')?.touched"
              class="form-text">
              <p *ngIf="formularioProyecto.get('link')?.hasError('pattern')" class="text-danger">Ingrese un link valido
              </p>
            </div>
          </div>


          <div class="mb-2">
            <label for="anio">Año</label>
            <input type="text" id="anio" name="anio" formControlName="anio" maxlength="4" pattern="[0-9]+"
              class="form-control">
            <div id="anioHelp" *ngIf="formularioProyecto.get('anio')?.errors && formularioProyecto.get('anio')?.touched"
              class="form-text">
              <p *ngIf="formularioProyecto.get('anio')?.hasError('required')" class="text-danger">Falta ingresar año</p>
              <p *ngIf="formularioProyecto.get('anio')?.hasError('pattern')" class="text-danger">ingrese un año valido
              </p>
              <p *ngIf="formularioProyecto.get('anio')?.hasError('min')" class="text-danger">El año debe ser entre 1965
                y 2022</p>
              <p *ngIf="formularioProyecto.get('anio')?.hasError('max')" class="text-danger">El año debe ser entre 1965
                y 2022</p>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="resetearFormulario()">Cancelar</button>
          <input type="submit" class="btn btn-primary" *ngIf="!formularioProyecto.invalid" value="Guardar">
        </div>
      </form>

    </div>
  </div>
</div>




<!-- Modal  EDITAR ITEM -->
<div class="modal fade" id="editarProyecto" tabindex="-1" aria-labelledby="editarProyecto" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarProyecto"> Editar proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="cerrarModalProyectoEditar"
          aria-label="Close" (click)="resetearFormulario()"></button>
      </div>
      <form [formGroup]="formularioProyectoEditar" (ngSubmit)="guardarProyectoEditado()" enctype="multipart/form-data">
        <div class="modal-body">

          <div class="mb-2">
            <label for="nombreEditar">Nombre del proyecto</label>
            <input type="text" id="nombreEditar" name="nombreEditar" formControlName="nombreEditar"
              class="form-control">
            <div id="nombreEditarHelp"
              *ngIf="formularioProyectoEditar.get('nombreEditar')?.errors && formularioProyectoEditar.get('nombreEditar')?.touched"
              class="form-text">
              <p *ngIf="formularioProyectoEditar.get('nombreEditar')?.hasError('required')" class="text-danger">Falta
                ingresar nombre</p>
              <p *ngIf="formularioProyectoEditar.get('nombreEditar')?.hasError('pattern')" class="text-danger">Ingrese
                un nombre entre 4 y 40 caracteres</p>
            </div>
          </div>

          <div class="mb-2">
            <label for="tecnologiasEditar">Tecnologias</label>
            <input type="text" id="tecnologiasEditar" formControlName="tecnoEditar" class="form-control">
            <div id="tecnologiasEditarHelp"
              *ngIf="formularioProyectoEditar.get('tecnoEditar')?.errors && formularioProyectoEditar.get('tecnoEditar')?.touched"
              class="form-text">
              <p *ngIf="formularioProyectoEditar.get('tecnoEditar')?.hasError('required')" class="text-danger">Falta
                ingresar tecnoligias</p>
              <p *ngIf="formularioProyectoEditar.get('tecnoEditar')?.hasError('pattern')" class="text-danger">Ingrese
                entre 4 y 40 caracteres</p>
            </div>
          </div>


          <div class="mb-2">
            <label for="descripcionEditar">Descripcion</label>
            <textarea type="text" id="descripcionEditar" name="descripcionEditar" formControlName="descripcionEditar"
              class="form-control"></textarea>
            <small class="my-1 d-block small-text"
              [className]="formularioProyectoEditar.get('descripcionEditar')?.hasError('pattern') ? 'text-danger' : 'text-muted'">{{
              formularioProyectoEditar.get('descripcionEditar')?.value?.length }} / 200</small>
            <div id="tecnologiasEditarHelp"
              *ngIf="formularioProyectoEditar.get('descripcionEditar')?.errors && formularioProyectoEditar.get('descripcionEditar')?.touched"
              class="form-text">
              <p *ngIf="formularioProyectoEditar.get('descripcionEditar')?.hasError('required')" class="text-danger">
                Falta ingresar descripcion</p>
              <p *ngIf="formularioProyectoEditar.get('descripcionEditar')?.hasError('pattern')" class="text-danger">
                Puede ingresar de 4 a 200 caracteres</p>
            </div>
          </div>

          <div class="mb-2">
            <label for="descripcionEditar">Link del proyecto</label>
            <input type="text" id="linkEditar" formControlName="linkEditar" class="form-control">
            <div id="linkEditarHelp"
              *ngIf="formularioProyectoEditar.get('linkEditar')?.errors && formularioProyectoEditar.get('linkEditar')?.touched"
              class="form-text">
              <p *ngIf="formularioProyectoEditar.get('linkEditar')?.hasError('pattern')" class="text-danger">Ingrese un
                link valido</p>
            </div>
          </div>

          <div class="mb-2">
            <label for="anioEditar">Año</label>
            <input type="text" id="anioEditar" name="anioEditar" formControlName="anioEditar" maxlength="4"
              pattern="[0-9]+" class="form-control">
            <div id="anioEditarHelp"
              *ngIf="formularioProyectoEditar.get('anioEditar')?.errors && formularioProyectoEditar.get('anioEditar')?.touched"
              class="form-text">
              <p *ngIf="formularioProyectoEditar.get('anioEditar')?.hasError('required')" class="text-danger">Falta
                ingresar año</p>
              <p *ngIf="formularioProyectoEditar.get('anioEditar')?.hasError('pattern')" class="text-danger">ingrese un
                año valido</p>
              <p *ngIf="formularioProyectoEditar.get('anioEditar')?.hasError('min')" class="text-danger">El año debe ser
                entre 1965 y 2022</p>
              <p *ngIf="formularioProyectoEditar.get('anioEditar')?.hasError('max')" class="text-danger">El año debe ser
                entre 1965 y 2022</p>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="resetearFormulario()">Cancelar</button>
          <input type="submit" class="btn btn-primary" *ngIf="!formularioProyectoEditar.invalid" value="Guardar">
        </div>
      </form>

    </div>
  </div>
</div>




<!-- Modal subir foto  -->
<div class="modal fade" id="editarImagenProyectoModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarImagenProyectoModal">Actualizar foto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="cerrarmodalfotoProyecto"
          aria-label="Close"></button>
      </div>
      <div class="container">
        <div class="row my-5 d-flex justify-content-center">
          <div class="col-md-6 text-center">
            <p>Actual </p>
            <img src="{{ regfotoEditar?.img }}" width="50%" style="border-radius:100%;" alt="">
          </div>
          <div class="col-md-6 text-center">
            <small>Vista previa - nueva</small>
            <img src="{{ imagenSeleccionada }}" width="50%" style="border-radius:100%;" alt="">
          </div>
          <hr>
          <div class="mb-2">
            <form>
              <input type="file" accept=".png, .jpg, .jpeg" style="display:none;" (change)="editarimg($event)"
                id="btnUpload5">
            </form>
            <label for="btnUpload5" class="btn btn-primary" title="Buscar imagen para subir">Subir Imagen<i
                class="fa-solid fa-cloud-arrow-up"></i></label>
          </div>
          <hr>
          <div class="card-footer mb-2">
            <div class="container d-flex justify-content-end">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button class="btn btn-primary" (click)="actualizarFotoPerfil()"
                [ngClass]="imgSubida ? 'block' : 'disabled'">Actualizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>