.bg-1{
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    margin: 10px;
}

.bg-2{
    background-image: linear-gradient( 135deg, #FAD7A1 10%, #E96D71 100%);
    margin: 10px;
}