<section class="my-5 ">
    <div class="container">
        <figure class="foto-perfil">
            <img src="https://firebasestorage.googleapis.com/v0/b/argentina-programa-porfolio.appspot.com/o/argprog%2Ffoto_perfil.jpg?alt=media&token=222afa2e-5a41-493e-963c-8597591685db" style="border-radius:100% ;" alt="">
        </figure>
        <h2 class="text-center"> {{usuario?.nombre}} {{usuario?.apellido}} </h2>
        <h3 class="text-center"> {{usuario?.titulo }} </h3>
        <div class="row">           
            <div class="col-md-12">              
                <p class="text-center">{{usuario?.descripcion}}</p>
            </div>
        </div>
    </div>
</section>