<section class="my-5">
    <div class="container">
        <figure class="foto-perfil">
            <img src="{{ usuario?.img}}" style="border-radius:100%;" alt="">
            <button class="btn btn-edit btn-primary editar-foto"  title="Actualizar foto de perfil"  id="modalActualizarFotoPerfil" data-bs-toggle="modal" *ngIf="editable" data-bs-target="#actualizarFotoPerfil"><i class="fa-solid fa-pen"></i></button>
        </figure>
        <h2 class="text-center"> {{usuario?.nombre}} {{ usuario?.apellido }} </h2>
        <h3 class="text-center"> {{usuario?.titulo }} </h3>
       
        <div class="row">           
            <div class="col-md-12">              
                <p class="text-center descri">{{usuario?.descripcion}}</p>
            </div>
        </div>

        <div class="text-center mt-2"><a href="{{usuario?.linkedin}}" target="_blank" ><i class="fa-brands fa-linkedin fa-2xl"></i></a></div>

        <div class="text-center"> 
            <button class="btn btn-edit btn-primary" title="Editar" (click)="editarUsuario()"  data-bs-toggle="modal" *ngIf="editable" data-bs-target="#edicionUsuario"><i class="fa-solid fa-pen"></i></button>
        </div>
    </div>
</section>





<!-- Modal  Editar Usuario-->
<div class="modal fade" id="edicionUsuario" tabindex="-1" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edicionUsuario"> Editar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="cerrarModalUsuario" aria-label="Close"
          (click)="resetearFormulario()"></button>
      </div>
      <form [formGroup]="formularioUsuario" (ngSubmit)="guardarEdicionUsuario()" enctype="multipart/form-data">
        <div class="modal-body">
            <div class="mb-3">
              <label for="nombreUsuario">Nombre</label>
              <input type="text" id="nombreUsuario" formControlName="nombre" class="form-control">         
              <div id="nombreUsuarioHelp"
                *ngIf="formularioUsuario.get('nombre')?.errors && formularioUsuario.get('nombre')?.touched" class="form-text">
                <p *ngIf="formularioUsuario.get('nombre')?.hasError('required')" class="text-danger">Falta ingresar nombre</p>
                <p *ngIf="formularioUsuario.get('nombre')?.hasError('pattern')" class="text-danger">Solo texto sin numeros ni simbolos. de 3 a 20 caracteres</p>
              </div>
            </div>

            <div class="mb-3">
              <label for="apellidoUsuario">Apellido</label>
              <input type="text" id="apellidoUsuario" formControlName="apellido" class="form-control">
              <div id="apellidoUsuarioHelp"
                *ngIf="formularioUsuario.get('apellido')?.errors && formularioUsuario.get('apellido')?.touched"
                class="form-text">
                <p *ngIf="formularioUsuario.get('apellido')?.hasError('required')" class="text-danger">Falta ingresar el apellido</p>
                <p *ngIf="formularioUsuario.get('apellido')?.hasError('pattern')" class="text-danger">Solo texto sin numeros ni simbolos. de 3 a 20 caracteres</p>
              </div>
            </div>
            
            <div class="mb-3">
              <label for="tituloUsuario">Titulo</label>
              <input type="text" id="tituloUsuario" formControlName="titulo" class="form-control">
              <div id="tituloUsuarioHelp"
                *ngIf="formularioUsuario.get('titulo')?.errors && formularioUsuario.get('titulo')?.touched"
                class="form-text">
                <p *ngIf="formularioUsuario.get('titulo')?.hasError('required')" class="text-danger">Falta ingresar el titulo</p>
                <p *ngIf="formularioUsuario.get('titulo')?.hasError('pattern')" class="text-danger">Solo texto sin números ni símbolos. De 3 a 20 caracteres</p>
              </div>
            </div>

            <div class="mb-3">
              <label for="descripcionUsuario">Descripción</label>
              <textarea type="text" id="descripcionUsuario" rows="6" formControlName="descripcion" class="form-control"></textarea>
              <small class="my-1 d-block small-text" [className]="formularioUsuario.get('descripcion')?.hasError('pattern') ? 'text-danger' : 'text-muted'">{{formularioUsuario.get('descripcion')?.value?.length}} / 200</small>
            
              <div id="descripcionUsuarioHelp"
                *ngIf="formularioUsuario.get('descripcion')?.errors && formularioUsuario.get('descripcion')?.touched"
                class="form-text">
                <p *ngIf="formularioUsuario.get('descripcion')?.hasError('required')" class="text-danger">Falta ingresar una descripción</p>
                <p *ngIf="formularioUsuario.get('descripcion')?.hasError('pattern')" class="text-danger">Maximo 200 caracteres</p>
              </div>
            </div>

            <div class="mb-3">
              <label for="linkedinUsuario" class="my-2">Linkein</label>
              <input type="text" id="linkedinUsuario" formControlName="linkedin" class="form-control">
              
              <div id="linkedinUsuarioHelp" *ngIf="formularioUsuario.get('linkedin')?.errors && formularioUsuario.get('linkedin')?.touched"
                class="form-text">
                <p *ngIf="formularioUsuario.get('linkedin')?.hasError('required')" class="text-danger">Falta ingresar LinkeIn</p>
                <p *ngIf="formularioUsuario.get('linkedin')?.hasError('pattern')" class="text-danger">Ingresa una URL valida </p>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <div class="mb-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetearFormulario()">Cancelar</button>
            <input type="submit" class="btn btn-primary" *ngIf="!formularioUsuario.invalid" value="Guardar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- SUBIR IMAGEN -->
<app-modal-img [usuario]="usuario"></app-modal-img>


