<section class="my-5 ">
    <div class="container ">
        <h2 class="text-center">Acerca de</h2>
        <div class="row">           
            <div class="col-md-12">              
                <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem voluptatum quam magnam impedit rerum ad architecto. Autem illo doloribus a perspiciatis alias eveniet sit sint nisi laudantium possimus, necessitatibus hic?</p>
            </div>
        </div>
    </div>
</section>