<section class="my-5 p-5">
    <div class="container">
        <h1 class="text-center">Skills</h1>
        <div class="row d-flex justify-content-center py-5" >      
            <div class="card col-md-3" style="width: 18rem;" *ngFor="let sk of skill; index as i">      
                <div class="card-body">
                <h5 class="card-title">{{ sk.nombre }}</h5>
                <circle-progress
                    [percent]= "sk.porcentaje"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [imageSrc]="'{{sk.img}}'"
                    [imageWidth]="100"
                    [imageHeight]="100"
                    [showImage]="true"                     
                    [outerStrokeColor]="'var(--primary-color)'"                    
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="1000">
                </circle-progress>
                </div>
            </div>           
        </div>
    </div>
</section>